<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <title>Docknet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- SUI CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" rel="stylesheet">

    <!-- Temporary script dependencies until we're done removing jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
</head>
<body>
<div id="application"> Welcome </div>
<script src="/javascript/index.bundle.js" type="text/javascript"></script>
</body>
</html>